* {
    box-sizing: border-box;
}

body {
    background-color: rgb(223, 221, 221, 0.3);
    margin: 0;
    padding: 0;
}

#changeTheme {
    background-color:red;
}


/* Navigation bar - menu  */

nav {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    font-family: 'Roboto', sans-serif;
    color: #16A085;
    font-size: 18px;
    margin: 10px;
    padding: 5px;
}

 li a {
    text-decoration: none;
    display: inline-block;
}

li {
    margin: 0 10px;
    display: inline;
}
 
/*=================================================================*/

/* Picture  */

.bg-pic {
    margin: 0;
    height: 100%; 
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}
/*=================================================================*/

/* Article */

section {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    text-transform: uppercase;
}

section>p {
    font-size: 16;
    font-family: AdobeInvisFont,Roboto-Black,;

}
.btn {
    color: #FFFFFF;
    background-color: #16A085;
    font-family: GothamRounded-Bold,AdobeInvisFont,MyriadPro-Regular;
    font-size: 10px;
    width: 120px;
    height: 34px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

/*=================================================================*/

/* Footer  */

footer {
    background-color: white;
    color: black;
    text-align: right;
    font-size: 16px;
    height: 14vh;
    width: 100%;
    padding-right: 50px;
    padding-top: 20px;
}

