*{
    box-sizing: border-box;
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    opacity: 0.9;
}

.container {
    max-width: 1064px;
    margin: 0 auto;
}

.header-logo {
    float: left;
    max-width: 165px;
}

.header {
width: auto;
}

.header-contact {
    float: right;
    margin-top: 47px;
    text-align: right;
}

.left--side--header {
    float: left;
    margin-top: 47px;
    text-align: left; 
}

.company-name {
    float: left;
    text-align: left;
    color:#F26522;
    text-decoration:none;
}

.milan {
    font-size: 40px;
}

.holiday {
    font-size: 26px;
}

.header-contact-link {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 18px;
    transition: all .3s ease;
}

.mgt {
    margin-top: 5px;
}

.mg {
    margin: 0 67px;
}

.content-image {
    max-width: 310px;
    float: left;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
    text-decoration: none;
    transition: all .3s ease;
    color: white;
}

.content-image img {
    width: 100%;
    height: auto;
    border: 2px solid white;
    border-radius: 1px;
    box-shadow: 5px 10px 10px black;
    display: block;
}

.content-image p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
  }

.content-image:hover {
    color: #F26522;
}

.container1 {
    position: relative;
    width: 100%;
    max-width: 310px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: #F26522; 
    width: 100%;
    transition: .4s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container1:hover .overlay {
    opacity: .8;
}

.from {
    text-align: left;
    font-size: 8px;
    margin: 0;
    padding: 0;
}

.money {
    text-align: left;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.details {
    text-align: right;
    font-size: 14px;
    margin: 0;
    padding: 0;
    cursor: pointer; 
}

footer{
    width: 100%;
    text-align: center;
    margin-top: 25px;
    color: white;
    font-weight: 500;
}
