*{
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow: hidden;
    font-family: 'Pathway Gothic One', sans-serif;
  }
  
  .main {
    position: relative;
    width: 80%;
    min-height: 20vh;

  }
  
  .star {
    display: flex;
    justify-content: center;
    position: relative;
    height: 400px;
    color: rgb(252, 209, 42);
    font-size: 400%;
    font-weight: 700;
    perspective: 320px;
    text-align: justify;
  }
  
  .wars {
    position: relative;
    transform-origin: 40% 90%;
    animation: wars 30s linear infinite;
  }
  
  .title {
    font-size: 70%;
    text-align: center;
  }
 
  @keyframes wars {
      0% {
      top: 200px;
      transform: rotateX(35deg)  translateZ(0);
    }
      100% { 
      top: -4440px;
      transform: rotateX(15deg) translateZ(-2500px);
    }
  }
    /* making audio invisible*/
  audio { 
    visibility: hidden;
 }