/*=============GENERAL==========================*/

* {
    box-sizing: border-box;
}

body {
    background-color: #3a4965;
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
}

/*=============MAIN PART==========================*/


.table {
    position: absolute;
    border-collapse: collapse;
    padding: 30px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    min-width: 94vw;
    margin-top: 15px;
    margin-bottom: 15px;

}

.light-gray {
    background-color: #f2f2f2;
}

.dark-gray {
background-color: #e3e3e3;
}

.height-2 {
    height: 110px;
}

.height-1 {
    height: 70px;
}

.head-1-small {
    font-size: 18px;
    font-weight: normal;
    color: #484848;
}

.head-1-big {
    font-size: 30px;
    font-weight: bold;
    color: #484848;
}

.head-2, .head-4 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.head-3 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.price-data, .table-data {
    box-shadow: 0 1px 3px grey;
    color: #484848;
    border: none;
}

.table-data {
    text-align: center;
    font-size: 16px;
    font-weight: normal; 
}

.price {
    font-size: 60px;
    font-weight: bold;
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.money {
    top: 0;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 50px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.money p {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
}


.fa {
    margin-right: 25px;
    color: #848484;
}

.bg-white {
    background-color: white;
}


/*=============BUTTONS==========================*/

.button {
    opacity: 1;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    user-select: none;  
}

.animate {
    width: 195px;
    height: 11px;
    background-color: #000;
    opacity: 0.25;
    transform: translateY(11px) translateX(-4px);   
}

.button:hover .animate {
    display: none;
}

/*Note: Below colors (btn) are  also used for heads so that I used names based on button*/

.btn1 {
    background-color: #484848;
}

.btn2 {
    background-color: #89c331;
}

.btn3 {
    background-color: #f04a56;
}

.btn4 {
    background-color: #20807c;
}




