*{
    box-sizing: border-box;
}

body {
    margin: 10px 40px;
    padding: 0;
    max-width: 1280px;
    margin: auto;
}

/*==================================*/

/*HEADER*/

.logo {
    color:#4BCAFF;
    font-size: 80px;    
}

.logo a {
    color: unset;
    text-decoration: none;
    width: 80%;
}

#logo--beginning--color {
   color: #000000;
}

/*Navigation*/

.navbar {
    display: flex;
    background-color: #333;
    justify-content: center;
    text-transform: uppercase;
   
  }

  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: #333;
  }
/*========================================================================================================*/

/*MAIN PART*/

.main {
    display: flex;
    margin-top: 25px;
}

.side {
    border: 1px solid black;
    flex: 21%;
    background-color: #f1f1f1;
    height: 300px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    font-family: AdobeInvisFont,MyriadPro-Regular;
}

.side a:hover {
    background-color: #DBDBDB;
    color: #000000;
  }


.article {
    flex: 70%;
    background-color: white;
    margin-left: 20px;
}

p {
    text-align: justify;
}

img {
    border: 1px solid black;
    width: 70vw;
    height: 400px;
    object-fit: none;
}

img:hover{
    transform: scale(.95);
}


  /*FOOTER*/
  .footer {
    display: flex;
    background-color: #B4B7BA;
    height: 8vh; 
    margin-left: 0;
  }

  .footer--menu a {
    color: #0C1927;
    padding: 16px;   
    text-decoration: none;
    text-align: left;
    flex: 80%;
    text-transform: uppercase;
  }
  
  .footer--menu a:hover {
    color: #3181A6;
  }
  #copyright {
   flex: 20%;
   text-transform: capitalize;
   text-align: right;
   padding-left: 20px;
   margin-right: 5px;
  }












