:root {
    --core-col: #3cb878;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;   
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}


/* ==========================header======================= */

.header--line {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(26, 25, 25, 0.4);
    height: 80px;
}

.logo {
    color: white;
    text-decoration: none;
    float: left;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 60px;
    text-transform: uppercase;
}
.logo:hover {
    color: var(--core-col);
}

.header-link-icon img {
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 25px;
    margin-right: 30px;
}

.header-link-icon:hover {
    opacity: 0.7;
    color: var(--core-col);
}

.login-signup {
    float: right;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    font-family: "Roboto";
    margin-top: 25px;
    margin-left: 20px;
}

.login-signup a {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    font-family: "Roboto";
    color: var(--core-col);
}

.login-signup a:hover {
    opacity: 0.7;
    transition: all .4s ease-out;
}

.header-links {
    margin-top: 24px;
    border-left: 1px solid rgb(221, 220, 220);
    border-radius: 5px;
    opacity: 0.2;
    height: 26px;
    float: right;
}

/*=======================form===================== */

.form-container{
    width: 600px;
    height: 750px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.72);
    padding-top: 50px;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
}

.field {
    display: block;
}

.green-square {
    background-color: var(--core-col);
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 6px;
}

.user-login-logout {
    color: #434343;
    font-family: "Roboto";
}

.signup {
    font-size: 34px;
    display: inline;
    font-weight: 600;
}

.login {
    font-size: 24px;
    float: right;
    text-decoration: none;
    transform: translateY(2px);
    color: var(--core-col);
}

.signup-links {
    display: inline-block;
    margin-top: 10px;
}

.signup-fb {
    width: 194px;
    height: 50px;
    background-color: #264b96;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    transition: all .3s ease;
    text-decoration: none;
}

.signup-google {
    width: 194px;
    height: 50px;
    background-color: #c3412c;
    border-radius: 5px;
    float: right;
    transition: all .3s ease;
    text-decoration: none;
}

.signup-links i {
    color: white;
    margin: 20px 15px;
    padding-right: 15px;
    border-right: 1px solid black;
}

.signup-links span {
    color: white;
}

.signup-fb:hover {
    filter: saturate(.5);
}

.signup-google:hover {
    filter: saturate(.5);
}

.divider {
    display: flex;
    justify-content: space-between;
}

.line {
    margin-top: 45px;
    height: 1px;
    width: 170px;
    background-color: #848484;
    opacity: 0.4;
}

.divider p {
    margin-top: 35px;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    color: #848484;
    font-family: 'Roboto';
}

.field {
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    border: 1px solid rgba(136, 133, 133, 0.2);
    padding: 13px 15px;
    border-radius: 3px;
    font-family: 'Roboto';
    box-shadow: none;
    transition: all .4s ease;
    font-size: 16px;
    line-height: 21px;
    color: #8f8e8e;
    opacity: 0.9;
}

.field:focus {
    transform: scale(1.01);
    outline: none;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    font-size: 17px;
    line-height: 21px;
    color: #434343;
    font-family: "Roboto";
}


.checkbox span {
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    line-height: 21px;
    color: #434343;
    font-family: "Roboto";
}

.checkbox span a {
    color: var(--core-col);
    text-decoration: none;
}

.btn {
    height: 50px;
    width: 100%;
    background-color: var(--core-col);
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-family: "Roboto";
    cursor: pointer;
    border:none;
    transition: all .3s ease;
}
.btn:hover {
    filter: saturate(.8);
}


